body {
  margin: 0px;
  font-family: 'Caesar Dressing';
  background-color: #f2f1c6;
}

#test {
  font-size: 30px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 2px;
}

#aboutus {
  /* background-image: url('http://www.tematy.info/library/d/desktop-wallpaper-hd-greek-god/desktop-wallpaper-hd-greek-god-05.jpg');
  background-size: cover;
  height: 500px;
  border: 0px;
  /* position: relative;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 26px; */ */
}

.flexabout {
  position: relative;
  display: flex;
  height: 570px;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 45px;
  justify-content: center;
}


.abouttext {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 60px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

#reggie {
  margin-top: 24px;
  margin-left: 110px;
  font-size: 30px;
}

#giahuy {
  margin-left: -20px;
  margin-top: 50px;
  transform: rotate(90deg);
  height: 350px;
}

.reggieclass {
  display: grid;
  grid-template-columns: 30% 70%
}
