@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');

body {
    background-color: #35322F;
}

h1 {
  color: #FFFCF2;
  font-size: 40px;
}

p {
  padding: 100px
}
