@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');
@import url('https://fonts.googleapis.com/css?family=Eczar');

h1 {
  padding-top:20px;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Caesar Dressing';
  color: white;
  text-align: center;
  margin: 0;
}


body {
    margin: 0px;
    background-size: cover;
    font-family: 'Caesar Dressing';
    background-color: black;
    color: white;
}

h2 {
  text-align: center;
  overflow:hidden;
  white-space:nowrap;
  margin-top: 300px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Eczar';
  color: white;
}


button {
  width: 200px;
  height: 100px;
  display: grid;
  margin: 0 auto;
  margin-top: 150;
  margin-bottom: 50;
  border-radius: 15px;
  color:#000;
  background-color:white;
}
.button:hover {
    animation: navmenu 600ms forwards;
}
@keyframes navmenu{
  0%{
    opacity:1;
    top:1000px;
  }
  100%{
    opacity:.5;
    top:0px;
  }
}
.flex1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50%;
}

a:-webkit-any-link{
  color: #e3ebf7;
  font-size: 22px;
  text-decoration: none;
}

.quit{
  position: fixed;
  text-align: right;
  width: 98%;
  margin-top: 1%;
}

img{
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10;
  right: 30;
}

section{
  margin: auto;
  width: 80%;
  border: 10px solid #acb5c1;
  padding: 30px;
