@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');
@import url('https://fonts.googleapis.com/css?family=Eczar');

body {
    margin: 0px;
    font-family: 'Caesar Dressing';
    background-color: #fff8d4;
}

section.sec1 {
  height: 500px;
  background-image: url('http://genchi.info/image/greek-mythology-wallpaper-17.jpg');
  background-size: cover;
  box-shadow: 2px 2px 14px black;
}

.sec1 {
  display: flex;
  margin-top: 3%;
  margin-right: 6%;
  margin-left: 6%;
  position: relative;
}

.centertext {
  width: 500px;
  position: absolute;
  top: 35%;
  left: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Caesar Dressing';
  color: white;
  text-align: center;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}


.flex1 {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3;
}

.jul{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 4.5%;
  padding: 10px;

}
.julImg{
  margin-top: 4.5%;
  margin-left: 100px;
  box-shadow: 0 0 18px 2px black;

}

.julPara{
  padding-left: 10%;
  padding-right: 5%;
  font-size: 20px;
}

.mig{
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 4.5%;
  padding: 10px;

}
.migImg{
  margin-top: 0;
  margin-left: 100px;
  box-shadow: 0 0 18px 2px black;
}

.migPara{
  padding-left: 10%;
  padding-right: 5%;
  font-size: 20px;
}
.yow{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 4.5%;
  padding: 10px;

}
.yowImg{
  margin-top: 0;
  margin-left: 100px;
  box-shadow: 0 0 18px 2px black;
}

.yowPara{
  padding-left: 10%;
  padding-right: 5%;
  font-size: 20px;
}


#signout {
  text-align: right;
  margin-right: 50px;
}

.footer-main-div{
  width: 100%;
  height: auto;
  margin: auto;
  background: #272727;
  padding: 20px 0px;
}
.footer {
    position: none;
    left: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    bottom: 0;
    width: 100%;
    background-color: #403528;
    font-family: "Times New Roman";
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
}


.wrapper{
  min-height:100%;
  width: 100%;
  position:relative;

}

nav {
  height:40px;
  width: 560px;
  display: block;
  margin:0;
  text-align: center;
  font-family: 'Caesar Dressing';
}

nav a{
  display:block;
  text-decoration: none;
  font-weight: bold;
  color: white;

}

nav ul{
  list-style:none;
  padding-left: 0px;
  margin: 0px;
  padding-top: 0px;
}

nav ul li{
  margin-top: -10px;
  padding-top: -10px;
  float:left;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: none;
}

nav ul ul li{
  color: black;
  position:relative;
  display:none;
}

nav ul a:focus ul li,
nav ul li:hover ul li{
  display: block;
  animation: navmenu 600ms forwards;
}
@keyframes navmenu{
  0%{
    opacity:0;
    top:1000px;
    transform: translateX(25px) rotate(-30deg)
  }
  40%{
    opacity:.4;
    top:0px;
  }
  100%{
    opacity:1;
    top:0px;
  transform: translateX(0px) rotate(0deg)
  }
}

nav ul ul li{
  color: black;
  float:left;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: #403528;
}

#hello{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: 45px;
    width: 100%;
    background-color: #403528;
    text-align: center;
    text-decoration-line: none;
}


.textunder {
  font-family: 'Caesar Dressing';
  margin-top: 13px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.bottom {
  margin: 0px;
}

.description {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  text-align: center;
  border: 2px solid #927859;
  box-shadow: 0 0 0px 1px black;

}

.review {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  text-align: center;
  border-right: 1px;
  margin-bottom: 4%;

}

.space{
  margin-left: 10%;
  margin-right: 10%;
  font-family: 'Eczar';
  font-size: 20px;
}

#destag {
  font-size: 40;
  margin-top: 0;
}

#created {
  margin-bottom: 8px;
  margin-top: -8px;
}

#revtag {
  font-size: 40;
  text-align: center;
  margin-top: 1px;
}

.see {
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 100%;
  height: 100;
  box-shadow: 0px 10px 40px -15px black;
}

.reviews {
  font-size: 20;
}

#title {
  font-size: 24;
  color: white;
  -webkit-text-stroke-color: black;
  margin-top: 8px;
}

.social {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  top: 80%;
  z-index: none;
  height: 60px;
  width: 100%;
  background-color: #ceb675;
  text-align: center;
  text-decoration-line: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

#instagram {
  background-image: url('https://www.freepnglogos.com/uploads/instagram-logos-png-images-free-download-5.png');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

#facebook {
  background-image: url('http://www.transparentpng.com/thumb/facebook-logo-png/background-facebook-logo-5.png');
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

#twitter {
  background-image: url('http://www.jmkxyy.com/twitter-square-icon/twitter-square-icon-20.jpg');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

#snapchat {
  background-image: url('http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c536.png');
  background-size: 47px;
  background-repeat: no-repeat;
  background-position: center;
}
