@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Caesar+Dressing');

body {
    border-style: solid;
    border-width: 5px;
    margin: 0px;
    background-image: url('http://genchi.info/image/greek-mythology-wallpaper-17.jpg'), url('https://images.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
    background-blend-mode: lighten;
    font-family: 'Caesar Dressing';
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Caesar Dressing';
  color: white;
  text-align: center;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}

.box{
  display: inline-block;
  background: #c5d1e5;
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.trigger{
  background: #8799b7 ;
  width: 120px;
  height: 120px;
  border: 10px solid #8799b7;
  border-radius: 10px;
}

.trigger:hover .box{
  transform: translate(90px, 70px) rotate(20deg)
}

.flex1 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 20%;
}

<<<<<<< HEAD

.startButton{
  text-align: center;
  font-size: 18px;

=======
#title {
  grid-column-start: 1;
  grid-column-end: 4;
}

#login {
  grid-column-start: 6;
  grid-column-end: 8;
>>>>>>> 06ae65054a5b646b3830016369cef06ca1331d25
}
