<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/aboutcss.css">

    <title> About Us</title>
  </head>
  <body>
    <div id="hello">
      <nav>
        <ul>
          <li> <a href="/" class="textunder">menu</a>
            <ul>
              <li><a href="/start">Begin Story </a></li>
              <li><a href="/about">About Us </a></li>
              <li><a href="/leaderboard">Leaderboards </a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a class ="textunder" id="test"> Imminent Reprisal </a>
      <a href={{log_url}} class ="textunder" id="signout"> {{log_message}} </a>
    </div>
    <div class="flexabout">
      <img id="aboutus" src="http://www.tematy.info/library/d/desktop-wallpaper-hd-greek-god/desktop-wallpaper-hd-greek-god-05.jpg"></img>
      <div class= "abouttext"> About us </div>
    </div>
    <div>
      <p id="reggie"> Reggie Gonzalez </p>
      <div class="reggieclass">
        <img id="giahuy" src='images/giahuy.jpg'></img>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>

  </body>
</html>
