<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/stylesheet.css">
    <title> About</title>
  </head>
  <body>
    <div id="hello">
      <nav>
        <ul>
          <li> <a href="/" class="textunder">menu</a>
            <ul>
              <li><a href="/start">Begin Story </a></li>
              <li><a href="/about">About Us </a></li>
              <li><a href="/leaderboard">Leaderboards </a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <img src="https://lh3.googleusercontent.com/-C7P3TLSJKrs/WwRT4LzvnjI/AAAAAAAAAA8/KTcoGVNNG78KLh0m_UKh7V9bZDuc8e3yACJoC/s800-rw/julissa.gif">
  </body>
</html>
