<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/aboutcss.css">
    <script src="/js/animations.js"> </script>

    <title> About Us</title>
  </head>
  <body>
    <div id="hello">
      <nav>
        <ul>
          <li> <a href="/" class="textunder">menu</a>
            <ul>
              <li><a href="/start">Begin Story </a></li>
              <li><a href="/about">About Us </a></li>
              <!-- <li><a href="/leaderboard">Leaderboards </a></li> -->
            </ul>
          </li>
        </ul>
      </nav>
      <a class ="textunder" id="test"> About Us</a>
      <a href={{log_url}} class ="textunder" id="signout"> {{log_message}} </a>
    </div>

    <div class= 'jul'>
    <img class="julImg" src="images/julissa.jpg" style="width:70%" align= "middle">
    <p style="font-family:Eczar;" class= 'julPara'>
        Julissa Tinajero is from a small agricultural town called Soledad located in
        central California. She will be attending San Jose State University this
        fall, pursuing a major in Computer Science. Julissa loves to play soccer, listen to music, and
        spend time with her friends and family. She was really involved during her time in highschool.
        She
    </p>
   </div>
    <div class= 'mig'>
    <p style="font-family:Eczar;" class = "migPara">
        Miguel Angel Molina is from San Diego, California. He will be attending California State University, San Marcos
        in the fall, majoring in Computer Information Systems with a minor in Sociology. Apart from Computer science,
        he likes to advocate for social justice and equity in his community.
    </p>
    <img class="migImg" src="images/miguel.jpg" style="width:70%" align="middle">
    </div>
    <div class= 'yow'>
    <img class="yowImg" src="images/giahuy.jpg" style="width:70%" align="middle">
    <p style="font-family:Eczar;" class = "yowPara">
        Gia-huy Gonzalez is from Sacramento, California. He will be attending Sacramento State University in the fall, majoring in Computer Information Systems. Apart
        from Computer Science, he likes to play tennis and watch movies.
    </p>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <body>


  </body>
</html>
