<html>
 <head>
   <title>
     Imminent Reprisal
   </title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <script src="/js/start.js"> </script>
 </head>
 <body>
<div class= "flex1">
  <nav>
    <ul>
      <li> <a href="/start">Programming</a>
        <ul>
          <li><a href="/start">Begin Story </a></li>
          <li><a href="/aboutus">About Us </a></li>
          <li><a href="/leaderboards">Leaderboards </a></li>
        </ul>
      </li>
    </ul>
  </nav>
   <div id= "title"> <h1> Imminent Reprisal </h1> </div>
   <div id= "login"> <p> Logged in user: {{user}}</p>
      <p><a href="{{log_url}}">{{log_message}}</a></p> </div>
 </div>
  <!-- <div class = "trigger">  <p class = "under"> <a href= " http://localhost:8080/start"> Click </a> </p>
    <div class = "box"> <p class = "startButton"> Begin Journey </p> </div></div> -->

  <!-- <div class = 'dropDown'>
    <div class =' dropDownButton'>
      <a href = '#'>TAB</a>
    <div>
    <ul>
        <li class = 'innerText'> Begin Journey </li>
        <li> About Us </li>
        <li> ScoreBoard </li>
    </ul>
  </div>
  </div>
</div> -->

    <div class="footer">
         <p>Created By: JGM</p>
         <p> Julissa | Gia-Huy | Miguel </p>

    </div>
 </body>
</html>
