<html>
 <head>
   <title>
     Imminent Reprisal
   </title>
    <link rel="stylesheet" href="css/stylesheet.css">
  <script src="/js/start.js"> </script>
  
 </head>
 <body>
    <div id="hello">
      <nav>
        <ul>
          <li> <a href="/" class="textunder">menu</a>
            <ul>
              <li><a href="/start">Begin Story </a></li>
              <li><a href="/about">About Us </a></li>
              <li><a href="/leaderboard">Leaderboards </a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a class ="textunder" id="title"> Imminent Reprisal </a>
      <a href={{log_url}} class ="textunder" id="signout"> {{log_message}} </a>
    </div>
    <div>
      <section class="sec1"> </section>
      <div class="centertext"> Imminent Reprisal </div>
    </div>
    <div class= "description">
      <p id="destag"> DESCRIPTION </p>
      <p class= "space">The award winning <u>Imminent Reprisal</u> is an online choose-your-own adventure game where the player
        guides the protagonist through a number of difficult choices which affect the outcome of the story.
        The protagonist is a young adult who lives in Nysa, a region where Dionysus, god of Wine, is worshipped.
        Provoked by the flashing images of a child, our hero sets out on a challenging journey to
        find wisdom and restore balance to Nysa, which has become permeated by drunken disorder.

      </p>
    </div>
    <div class="review">
      <p id="revtag"> Reviews </p>
      <div class="see">
        <p>
          <span class="reviews"> Miguel Angel Molina: </span>
          <span style="font-family:Eczar;"> wow this app is amazing!</span>
        </p>
        <p>
          <span class="reviews"> Julissa Tinajero: </span>
          <span style="font-family:Eczar;"> The story line for this is awesome! </span>
        </p>
        <p>
          <span class="reviews"> Gia-Huy Gonzalez: </span>
          <span style="font-family:Eczar;"> This is so rad! </span>
        </p>
      </div>
    </div>
    <div class= "social">
      <section id="instagram">  </section>
      <section id="twitter">  </section>
      <section id="facebook">  </section>
      <section id="snapchat">  </section>
    </div>
    <div class="footer">
       <p class= "bottom" id="created">Created By: JGM</p>
       <p class ="bottom"> Julissa | Gia-Huy | Miguel </p>
    </div>

 </body>
</html>
