<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/aboutcss.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="hello">
      <nav>
        <ul>
          <li> <a href="/" class="textunder">menu</a>
            <ul>
              <li><a href="/start">Begin Story </a></li>
              <li><a href="/about">About Us </a></li>
              <li><a href="/leaderboard">Leaderboards </a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <a class ="textunder" id="test"> Leaderboards</a>
      <a href={{log_url}} class ="textunder" id="signout"> {{log_message}} </a>
    </div>
    <div>
    {% for leader in leaderboard %}
      <ul>
          <li>name: {{leader.user_email}}</li>
          <li>times tries: {{leader.tries}}</li>
      </ul>
    {% endfor %}
    </div>
  </body>
</html>
