<html>
 <head>
   <title>
     Imminent Reprisal
   </title>
    <link rel="stylesheet" href="css/story.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="/js/start.js"> </script>
 </head>
 <body>

 <div class = 'display'>
   <div class = 'page-1'>
     <h1> Imminent Reprisal </h1>
     <h2> *shivers*  </h2>
     <h2> You wake up...  </h2>
     <h2> Wind gusts through your wooden window...  </h2>

       <button class="button" class = 'page-1'> Begin </button>






    </div>




 </div>

 </body>
</html>
