<html>
 <head>
   <title>
     Imminent Reprisal
   </title>
    <link rel="stylesheet" href="css/story.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
    <script src="/js/start.js"> </script>
 </head>
 <body>

<div class = 'display'>
   <div class = 'page-1'>
     <h1> Imminent Reprisal </h1>
     <h2> *shivers*  </h2>
     <h2> You wake up...  </h2>
     <h2> Wind gusts through your wooden window...  </h2>
     <button class="button" class = 'page-1'> Begin </button>
   </div>
<!-- </div> -->

 <!-- <div class = 'display'> -->
     <div class = 'page-2'>
       <h1> Imminent Reprisal </h1>
       <h2> You walk over to the window with your blanket over your shoulders <br> and admire the big full moon up in the sky.</h2>
       <h2> When you pull the window shut, you see lights moving outside.</h2>
       <h2> 1, 2, 3, 4, 5.. </h2>
       <h2> People are holding them. </h2>
       <h2> "It's odd. Nobody is out at this time." </h2>
       <button class="button" class = 'page-2' class = "flex1"> Go check it out </button>
       <button class="button" class = 'page-2.1' class = "flex1"> Go back to sleep </button>
     </div>
<!-- </div> -->

<!-- <div class = 'display'> -->
    <div class = 'page-3'>
      <h1> Imminent Reprisal </h1>
      <h2> You walk over to the window with your blanket over your shoulders <br> and admire the big full moon up in the sky.</h2>
      <h2> When you pull the window shut, you see lights moving outside.</h2>
      <h2> 1, 2, 3, 4, 5.. </h2>
      <h2> People are holding them. </h2>
      <h2> "It's odd. Nobody is out at this time." </h2>
      <button class="button" class = 'page-2' class = "flex1"> Go check it out </button>
      <button class="button" class = 'page-2' class = "flex1"> Go back to sleep </button>
    </div>
</div>

<!-- <div class = 'display'>
        <div class = 'page-4'>
          <h1> Imminent Reprisal </h1>
          <h2> You quickly hurry outside and closely follow the group from a distance.</h2>
          <h2> As you follow behind them, you approach a bridge.</h2>
          <h2> "Ah the state-of-the-art bridge that connects the town and the grape vine garden; The heart of Nysa."</h2>
          <h2> You hear screaming in the distance. </h2>
          <button class="button" class = 'page-2' class = "flex1"> Go back to sleep </button>
          <button class="button" class = 'page-2' class = "flex1"> Run to investigate </button>
        </div>
</div> -->




 </body>
</html>
